.error-page-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  iframe {
    border: none;
    outline: none;
  }

  h1 {
    font-size: 46px;
    color: #00cc66;
  }
}
