.explore-container {
  margin: 1rem;

  @media (min-width: 1024px) {
    margin: 3rem;
  }

  .page-header {
    font-size: 2rem;
    font-weight: 800;
  }

  .explore-category-heading {
    font-weight: 700;
    margin-top: 3rem;
  }

  .explore-categories {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10vh;

    @media (max-width: 500px) {
      flex-direction: column;

      a {
        width: 100%;
      }
    }

    a {
      width: 48%;
    }
  }

  .explore-category-img {
    min-height: 115px;
    height: 15vw;
    width: 100%;
    border-radius: 1.5rem;
    object-fit: cover;
    margin: 0 auto;
  }

  .explore-category-name {
    font-weight: 500;
    text-align: left;
    margin-top: 0.5rem;
  }
}
