.profile-container {
  padding: 75px;

  .profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .page-header {
      font-size: 32px;
      font-weight: bolder;
    }

    .log-out {
      background-color: #00cc66;
      font-weight: bold;
      color: #fff;
      border: none;
      padding: 5px 15px;
      border-radius: 17.5px;
      cursor: pointer;
    }
  }

  main {
    .profile-details-header {
      width: 35%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;

      .profile-details-text {
        font-size: 20px;
        font-weight: 600;
      }

      .change-personal-details {
        font-weight: 700;
        color: #00cc66;
        cursor: pointer;
      }
    }

    .profile-card {
      width: 35%;
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

      form {
        display: flex;
        flex-direction: column;

        input {
          margin-bottom: 15px;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }
      }
    }

    .create-listing {
      width: 35%;
      background-color: #fff;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 2.5rem;
      padding: 10px;
      border-radius: 5px;

      svg {
        margin-right: 8px;
      }
    }
  }
}
